.app_specialMenu{
    flex-direction: column;
    background-color: var(--color-black);
}

.app_specialMenu-title{
    margin-bottom: 2rem;
    margin-top: 3rem;
    text-align: center;
}

.app_specialMenu-menu{
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.app_specialMenu-menu_heading{
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 45px;
    line-height: 58.5px;
    letter-spacing: 0.04em;
    color: var(--color-white);
}

.app_specialMenu-menu_wine,
.app_specialMenu-menu_cocktails{
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app_specialMenu-menu_img{
    width: 410px;
    margin: 0 1rem;
}

.app_specialMenu-menu_img img{
    width: 100%;
    height: auto;
}
.app_specialMenu-menu_title{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 100%;
}

@media screen and (max-width: 2000px) {
  /* .app_specialMenu-menu_img{
    width: 0px;
  }
  .app_specialMenu-menu_img img{
    width: 100%;
  } */
}

@media screen and (max-width: 1150px) {
    .app_specialMenu-menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .app_specialMenu-menu_img{
        margin: 3rem 0;
    }
}

@media screen and (max-width: 650px) {
    .app_specialMenu-menu_img{
        width: 100%;
    }
    .app_specialMenu-menu_heading{
        font-size: 35px;
        line-height: 48.5px;
    }
}